.signup-wrapper {
  margin: 110px 0 150px;
  display: flex;
  gap: 60px;
  box-shadow: 0 4px 16px #dbdada;
  border-radius: 20px;
  width: 1000px;
  padding: 10px;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 10px);
  .left-signup-section {
    .signup-fashion {
      width: 460px;
      height: 720px;
      border-radius: 10px;
    }
  }
  .right-signup-section {
    width: 350px;
    .header {
      font-size: 28px;
      text-align: left;
      font-weight: 600;
      line-height: 20px;
      text-transform: uppercase;
      margin: 20px 0 25px;
    }
    .name-section {
      label {
        text-align: left;
        margin-bottom: 5px;
        font-weight: 600;
      }
      .name {
        width: 350px;
        border: 1px solid #141414;
        padding: 10px 15px;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        border-radius: 10px;
        background: #ffffff;
        &:focus {
          outline: 0;
          background-color: transparent;
        }
        &:hover {
          background-color: transparent;
        }
      }
    }
    .gender-section {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 15px;
      .gender-label {
        font-weight: 600;
      }
      label {
        text-align: left;
        margin: 5px 0;
      }
      .male-female {
        display: flex;
        align-items: center;
        gap: 20px;
        .male {
          display: flex;
          align-items: center;
          gap: 10px;
        }
        .female {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
    }
    .phone-section {
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 15px 0;
      .phone-label {
        font-weight: 600;
        margin: 0;
      }
      .phone {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .country-code {
          position: absolute;
          left: 0px;
          background: #d50089;
          padding: 13px 8px;
          color: #ffffff;
          font-weight: 600;
          border-radius: 10px 0 0px 10px;
        }
        .phone-number {
          width: 236px;
          margin-left: 40px;
          background-color: #ffffff;
          border: 1px solid #303030;
          border-radius: 0 10px 10px 0;
          padding: 10px 15px;
          letter-spacing: 2px;
          &:focus {
            outline: 0;
            background-color: #ffffff;
          }
          &:hover {
            background-color: #ffffff;
          }
        }
      }
    }
    .email-section {
      label {
        text-align: left;
        margin-bottom: 5px;
        font-weight: 600;
      }
      .email {
        width: 350px;
        border: 1px solid #141414;
        padding: 10px 15px;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        border-radius: 10px;
        background: #ffffff;
        &:focus {
          outline: 0;
          background-color: transparent;
        }
        &:hover {
          background-color: transparent;
        }
      }
    }
    .terms-and-condition {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px 0 20px;
      input[type="checkbox"] {
        display: inline;
        width: auto;
        width: 35px;
        height: 35px;
      }
      input[type="checkbox"]:checked {
        display: inline;
        width: auto;
        width: 35px;
        height: 35px;
        background-color: #d50089;
      }
      .disclaimer {
        text-align: left;
        margin-left: 15px;
        color: #6d6d6d;
        .condition {
          color: #6d6d6d;
        }
      }
    }
    .password-section {
      label {
        text-align: left;
        margin-bottom: 5px;
        font-weight: 600;
      }
      .password {
        width: 350px;
        border: 1px solid #141414;
        padding: 10px 15px;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        border-radius: 10px;
        background: #ffffff;
        &:focus {
          outline: 0;
          background-color: transparent;
        }
        &:hover {
          background-color: transparent;
        }
      }
    }
    .remember-me-section {
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 10px 0 20px;
    }
    .sign-up-btn {
      color: #ffffff;
      font-size: 18px;
      font-weight: 600;
      background-color: #d50089;
      padding: 10px 15px;
      border-radius: 20px;
      border: none;
      margin: 20px 0 20px;
      cursor: pointer;
    }
    .forgot-password {
      display: flex;
      align-items: center;
      justify-content: end;
      margin: 0 0 25px;
      cursor: pointer;
    }
    .divider-section {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
      .divider1 {
        width: 161px;
        height: 1px;
        background-color: #e0e0e0;
      }
      .text {
        width: 30px;
        height: 30px;
        border: 1px solid #e0e0e0;
        text-align: center;
        padding: 5px;
        color: #9d9d9d;
        border-radius: 5px;
        display: inline-table;
      }
      .divider2 {
        width: 161px;
        height: 1px;
        background-color: #e0e0e0;
      }
    }
    .social-section {
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: center;
      .fab {
        text-decoration: none;
        color: #d50089;
        font-size: 30px;
      }
    }
    .sign-up {
      margin: 20px 0;
      font-size: 16px;
      font-weight: 500;
      color: #6d6d6d;
      .sign-up-link {
        color: #6d6d6d;
        text-transform: uppercase;
      }
    }
  }
}
